[submodule "esp-idf"]
	path = esp-idf
	url = git@github.com:darthcloud/esp-idf.git
[submodule "BlueRetro"]
	path = BlueRetro
	url = git@github.com:endpoint32/node0.git
[submodule "controller_hci_uart_esp32"]
	path = controller_hci_uart_esp32
	url = git@github.com:darthcloud/controller_hci_uart_esp32.git
