[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/darthcloud/esp-idf.git
[submodule "BlueRetro"]
	path = BlueRetro
	url = https://github.com/darthcloud/BlueRetro.git
[submodule "controller_hci_uart_esp32"]
	path = controller_hci_uart_esp32
	url = https://github.com/darthcloud/controller_hci_uart_esp32.git
[submodule "pico_fw_update"]
	path = pico_fw_update
	url = https://github.com/darthcloud/pico_fw_update.git
[submodule "s2_fw_update"]
	path = s2_fw_update
	url = https://github.com/darthcloud/s2_fw_update.git
[submodule "brx_documentation"]
	path = brx_documentation
	url = https://github.com/darthcloud/BRX.git
